# Core
django==5.1.3
python-dotenv==1.0.1
str2bool==1.1

# UI
django-admin-black==1.0.8
django-admin-star==1.0.5

# Deployment
whitenoise==6.6.0
gunicorn==21.2.0

# psycopg2-binary
pillow==11.1.0
# mysqlclient

# Hot Reload
django-browser-reload==1.12.1
faker==37.1.0