.hide{display:none;}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
  color: white !important; }

.contrast a {
  color: yellow !important; }
  .contrast a:hover {
    color: white !important; }

.contrast a.btn {
  color: yellow !important;
  background: black !important;
  border: 1px solid yellow !important; }
  .contrast a.btn:hover {
    color: white !important; }

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
  background: black !important;
  color: yellow !important;
  border: none !important; }

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
  background: black !important;
  border: 1px solid white !important;
  color: white !important; }

.contrast img.on-contrast-force-gray {
  -webkit-filter: grayscale(100%) contrast(120%);
          filter: grayscale(100%) contrast(120%); }

.contrast img.on-contrast-force-white {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.contrast {
    img{
        -webkit-filter: grayscale(100%) contrast(120%);
        filter: grayscale(100%) contrast(120%);
    }
}

.contrast{
  img.on-contrast-invert{
    -webkit-filter: brightness(1) invert(1) !important;
    filter: brightness(1) invert(1) !important;
  }
}

.contrast a i {
  color: yellow !important; }

.contrast .form-control {
  color: #fff !important;
  border: 1px solid #fff !important; }
  
.contrast small{
  background: black;
  color: white;
}
  
.contrast i {
  background: black !important;
  color: white !important;
}

.contrast{
  .bg-green-black, .bg-primary, .bg-green{
    background: black !important;
  }
  .btn{
    border: 1px solid yellow !important;
  }
}

.contrast{
  .s-acessibility{
    div{
      background: black;
      a, span{
        color: yellow !important;
      }
      &:hover{
        opacity: .7;
      }

    }
  }
}


